.name{
  color: #6c757d;
  font-size: 14px;
  font-family: dm sans,sans-serif;
  
}

.age{
  font-style: italic;
}

.post{
  margin-top: 20px;
  padding: 12px 16px!important;
  background: #fff !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 11px;

}
.ava{
  width: 60px !important;
  height: 60px;
  border-radius: 50%;
}
.postTop{
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.postInfo{
  margin-left: 15px;
}
.likes{
  text-align: right;
}